{{> header }}

{{> navbar }}

    <div class="row">
        <div class="col-8 pl-4">
            <h1>About Page</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/img.jpg" class="img-fluid" alt="">
        </div>
    </div>

{{> footer }}